body {
  font-size: small;
}

#header #title {
    margin-top: 0;
    font-size: 3.5em;
    font-style: oblique;
}

#header a {
    text-decoration: none; 
}

#header a:visited {
    color: black;
}

table {
  border: 1px solid;
  border-collapse: collapse;
}

td,th { 
  border: 1px solid;
  padding: 0 0.5em;
  text-align: center;
}

pre {
    width: 85%;
    margin: 0 auto;
}
