body {
  width: 60%;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: small;
}

#header {
    background-color: #bdf;
}

#header #title {
    margin-top: 0;
    font-size: 3.5em;
    font-style: oblique;
}

#header a {
    text-decoration: none; 
}

#header a:visited {
    color: black;
}

h1, h2 {
  background-color: #fcca30;
}

table {
  border: 1px solid;
  border-collapse: collapse;
}

td,th { 
  border: 1px solid;
  padding: 0 0.5em;
  text-align: center;
}

pre {
    background-color: #dff;
    width: 85%;
    margin: 0 auto;
}

#footer {
    font-size: x-small;
}
